#player {
font-size: 1.5rem;
display: center;
align-items: left;
color: #ffffff;
width: 100%;
text-indent: 10px;
}

#player_container{
justify-content: center;
width: 100%;
max-width: 1300px;
margin-right: auto;
margin-left: auto;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
background-color: #1f1f1f;
color: #ffffff;
}
#match_history{
display: center;
justify-content: left;
z-index: 1;
width: 100%;
max-width: 1280px;
margin-right: auto;
margin-left: auto;
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
background-color: #1f2f3f;
border: 4px solid  #ffffff;
color: #ffffff;

}
#welcome{
    color: white;
    font-size: 2rem;
}
#myForm{
    color: white;
    font-size: 2rem;
}
#level{
    font-size: 1rem;
    position: relative;
    text-indent: 10px;
    top: -20px;
}
#basic_info{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#damage_health{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width:490px;
    position: relative;
    top: 10px;
    right: 10px;
        display: flex;
        flex-direction: column;
}
#items_and_other{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 490px;
    position: relative;
    top: 10px;
    right: -10px;
        display: flex;
        flex-direction: column;
}

#coloumns{
    background-color: #1f2f3f;
    z-index: 1;
    max-width: 1200px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    color: #ffffff;
    text-indent: -40px;
    display: flex;
}

#championImage{
    margin: auto 5px;
    float: right;
    width: 200px;
    height: 200px;
    display: inline;
    white-space: nowrap;
}

#championPicture{
    
    width: 230px;
    height:230px;
}


#rankImage{
    margin: auto 5px;
    float: right;
    width: 170px;
    height: 170px;
    display: inline;
    white-space: nowrap;
    
}

#rankedPicture{
    width: 170px;
    height:170px;
}
#github{
    color:#7a7a7a
}
#damage_health{
    font-size: 1rem;
    display: flex;
}