#player {
    font-size: 1.5rem;
    display: center;
    align-items: left;
    color: #ffffff;
    width: 100%;
    text-indent: 10px;
}

#player_container {
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
}

#match_history {
    display: center;
    justify-content: left;
    z-index: 1;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #1f2f3f;
    border: 4px solid #ffffff;
    color: #ffffff;

}

#welcome {
    color: white;
    font-size: 2rem;
}

#myForm {
    color: white;
    font-size: 2rem;
}

#level {
    font-size: 1rem;
    position: relative;
    text-indent: 10px;
    top: -20px;
}

#basic_info {
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#damage_health {
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 490px;
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#items_and_other {
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 490px;
    position: relative;
    top: 10px;
    right: -10px;
    display: flex;
    flex-direction: column;
}

#coloumns {
    background-color: #1f2f3f;
    z-index: 1;
    max-width: 1200px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    color: #ffffff;
    text-indent: -40px;
    display: flex;
}

#championImage {
    margin: auto 5px;
    float: right;
    width: 260px;
    height: 260px;
    display: inline;
    white-space: nowrap;
}

#championPicture {

    width: 100%;
    height: 100%;
    padding-right: 5px;
}

#rankImage {
    margin: auto 5px;
    float: right;
    width: 170px;
    height: 170px;
    display: inline;
    white-space: nowrap;

}

#rankedPicture {
    width: 170px;
    height: 170px;
}

#github {
    color: #7a7a7a
}

#damage_health {
    font-size: 1.25rem;
    display: flex;
}

#paircontainer {
    display: flex;
}


#item0info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#item1info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#item2info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    max-width: 490px;
    display: none;

}

#item3info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#item4info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#item5info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#item6info {
    background-color: #1f2f3f;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    padding: 0 0px;
    display: none;
    max-width: 490px;

}

#paircontainer:hover #item0info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item1info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item2info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item3info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item4info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item5info {
    z-index: 9;
    display: block;
}

#paircontainer:hover #item6info {
    z-index: 9;
    display: block;
}

@media screen and (max-width: 700px) {
    #damage_health {
        display: none;
    }

    #coloumns {
        background-color: #1f2f3f;
        position: relative;
        padding: 0 0 0 0;
    }

    #items_and_other {
        text-indent: 10px;
        width: 5360px;
        top: 0px;
        right: 0px;
        display: flex;
    }
}