#player {
font-size: 1.5rem;
background-color: #1f2f3f;
display: center;
align-items: left;
color: #ffffff;
width: 100%;
text-indent: 10px;
}

#player_container{
display: center;
justify-content: center;
height: 180px;
width: 100%;
max-width: 1300px;
margin-right: auto;
margin-left: auto;
padding-right: 10px;
padding-left: 10px;
background-color: #1f1f1f;
color: #ffffff;
}
#match_history{
display: center;
justify-content: left;
height: 1200px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin-right: auto;
margin-left: auto;
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
background-color: #ffffff;
}
#inner_match_history{
    background-color: #1f2f3f;
    height: 1180px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    color: #ffffff;
    text-indent: -40px;

}
#welcome{
    color: white;
    font-size: 2rem;
}
#myForm{
    color: white;
    font-size: 2rem;
}
#level{
    font-size: 1rem;
    padding-bottom: 10px;
    position: relative;
    text-indent: 10px;
    top: -20px;
}
#basic_info{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#damage_health{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width:498.01px;
    display: inline-block;
    position: relative;
    top: 10px;
    height: 900px
}
#items_and_other{
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 498px;
    position: relative;
    top: 10px;
    display: inline-block;
    height: 900px
}